*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{

    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;

}
header{
    background-color: rgb(165, 16, 16);
    color: white;
    height: 250px;
    display: flexbox;
    padding: 0 0 15px 0

}
footer{
        background-color: rgb(165, 16, 16);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 10px 0

}
.footer2{
    width: 15%;
    margin: 0 40px 0 40px;
}
nav{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonlist{
    list-style: none;
    padding-top: 20px;
}
.buttonlistitem{
    margin-bottom: 20px;
}
.button, .buttonb1, .buttonb2, .buttonb3, .buttonb4, .buttonb5, .buttonb6{
    margin: 0px 10px 0px;
    color: white;
    text-decoration: none;
    padding: 8px;

}
.button:hover {
border-bottom: 3px solid white;
}
article{
padding: 50px;
width: 85%;
}
.author-article{
    margin-bottom: 20px;
}
.sec-articles{
    width: 80%;
}
main{
    display: flex;

}
h2{
    font-size: 40px;
}
.title{
    font-size: 30px;
    padding: 0 0 30px 0;
}
.celeb{
    color: rgb(48, 149, 196);
}
.sport{
    color: rgb(216, 124, 38);
}
.tech{
    color: rgb(80, 158, 43);
}
.img-article-bluezao{
    height: 400px;
    filter: grayscale();
    margin: 20px 50px 3px;
    
}
.img-article{
    height: 400px;
    margin: 20px 50px 3px;
}

.subtitle{
    color: rgb(63, 63, 63);
    padding-bottom: 30px;
    text-indent: 50px;
}
.p-article{
    font-size: 20px;
    text-indent: 50px;
    margin-bottom: 10px;
}
a{
    color: rgb(150, 14, 14);
    font-weight: bolder;
}
aside{
    background-color: rgb(126, 14, 14);
    width: 20%;
    display: flex;
}
.linkfooter{
    color: white;
    font-weight: 400;
}
.buttonb1:hover{
    border-bottom: 3px solid rgb(255, 255, 255);

}
.buttonb2:hover{
    border-bottom: 3px solid rgb(255, 151, 54);
}
.buttonb3:hover{
    border-bottom: 3px solid rgb(70, 196, 255);
}
.buttonb4:hover{
    border-bottom: 3px solid rgb(129, 255, 70);
}
.buttonb5:hover{
    border-bottom: 3px solid rgb(230, 230, 230);
}
.buttonb6:hover{
    border-bottom: 3px solid rgb(249, 70, 255);
}