*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header{
    display: flex;
    background-color: gray;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 20px 0 20px;

}
.about{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.foto img {
    width: 250px;
    border-radius: 10px;
    border: 1px solid;
}
.foto{
margin-right: 10px
}
.card {
    width: 280px;
    height: 320px;
}

.card img {
    height: 70%;
    width: 100%;
}

#projects{
    display:flex;
    flex-direction: column;

}
#projects h2{
    margin: 0 auto;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blueviolet;
    width: 70%;
    margin: 0 auto;
}
#techs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#techs h2{
    margin: 0 auto
}
.techs{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
footer{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}